body {
	font-family: Arial, sans-serif;
	text-align: center;
	padding: 20px;
}

#data-form {
	margin-bottom: 20px;
}

#analysis-results {
	margin-top: 40px;
}

img {
	max-width: 100%;
	height: auto;
	margin-top: 20px;
}
